<div class="frame">
    <div class="div">
        <div class="overlap-2">
            <div class="ettn">
                <p><strong>ETTN:</strong> gfsdsfbghgfdcvgfd</p>
            </div>
            <div class="buyer">
                <P>
                    <strong>SAYIN</strong> <br>
                    {{getAlici().ad}} <br>
                    {{getAlici().adres1}}<br>
                    {{getAlici().adres2}} <br>
                    E-Posta: {{getAlici().posta}}<br>
                    Tel: {{getAlici().telNo}} <br>
                    TCKN: {{getAlici().tckn}}
                </P>
            </div>
            <div class="seller">
                <p>
                    {{getSatici().ad}} <br>
                    {{getSatici().adres1}} <br>
                    {{getSatici().adres2}} <br>
                    E-Posta: {{getSatici().posta}} <br>
                    Vergi Dairesi: {{getSatici().vergiDairesi}} <br>
                    VKN: {{getSatici().vkn}} <br>
                    TICARETSICILNO: {{getSatici().ticaretSicilNo}} <br>
                    MERSISNO: {{getSatici().mersisNo}} <br>
                </p>
            </div>
            <div class="invoice-info">
                <div class="overlap-group-2">
                    <table class="invoice-info-header">
                        <tr>
                            <th>Özelleştirme No:</th>
                        </tr>
                        <tr>
                            <th>Senaryo</th>
                        </tr>
                        <tr>
                            <th>Fatura Tipi:</th>
                        </tr>
                        <tr>
                            <th>FaturaNo:</th>
                        </tr>
                        <tr>
                            <th>Fatura Tarihi:</th>
                        </tr>
                        <tr>
                            <th>Fatura Saati</th>
                        </tr>
                        <tr>
                            <th>Gönderim Tarihi</th>
                        </tr>
                        <tr>
                            <th>Muhasebe Fatura No:</th>
                        </tr>
                        <tr>
                            <th>Satış Kanalı:</th>
                        </tr>
                    </table>
                    <table class="invoice-info-body">
                        <tr>
                            <td>TR1.2</td>
                        </tr>
                        <tr>
                            <td>EARSIVFTURA</td>
                        </tr>
                        <tr>
                            <td>Tevfikat</td>
                        </tr>
                        <tr>
                            <td>dfgsfadsg</td>
                        </tr>
                        <tr>
                            <td>13-46-1220</td>
                        </tr>
                        <tr>
                            <td>11:58:00</td>
                        </tr>
                        <tr>
                            <td>07-02-2023 11:58:00</td>
                        </tr>
                        <tr>
                            <td>mhgfçfgm2dgf2fsf52</td>
                        </tr>
                        <tr>
                            <td>DiğerGerçekMağaza</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="img-container_vergiDairesi">
                <img src="../assets/vergiDairesi.jpg" alt="Vergi Dairesi Başkanlığı Logo">
            </div>
            <div class="img-container_imza">
                <img src="../assets/imza.jpg" alt="İmza-Kaşe">
            </div>
        </div>
        <div class="costs_footer">
            <div class="services_costs-container">
                <table class="services">
                    <thead>
                        <tr>
                            <th>Sıra No</th>
                            <th>Stok Kodu</th>
                            <th>Mal Hizmet</th>
                            <th>Miktar</th>
                            <th>Birim Fiyat</th>
                            <th>KDV Oranı</th>
                            <th>KDV Tutarı</th>
                            <th>Mal Hizmet Tutarı</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let urun of getUrunler()">
                            <td>{{urun.siraNo}}</td>
                            <td>{{urun.stokKodu}}</td>
                            <td>{{urun.malHizmet}}</td>
                            <td class="right">{{urun.miktar}}</td>
                            <td class="right">{{urun.birimFiyati}}</td>
                            <td class="right">%{{urun.kdvOrani}}</td>
                            <td class="right">{{urun.kdvTutari}}TL</td>
                            <td class="right">{{urun.malHizmetTutari}}TL</td>
                        </tr>
                    </tbody>
                </table>
                <table class="costs-table">
                    <tr>
                        <th>Mal Hizmet Toplam Tutarı</th>
                        <td>6.779,66TL</td>
                    </tr>
                    <tr>
                        <th>Toplam İskonto</th>
                        <td>0,00TL</td>
                    </tr>
                    <tr>
                        <th>Hesaplanan KDV(%18)</th>
                        <td>1.220,34TL</td>
                    </tr>
                    <tr>
                        <th>KDV Dahil Toplam Tutar</th>
                        <td>8.000,00TL</td>
                    </tr>
                    <tr>
                        <th>Hesaplanan KDV Tevkifat (%50)</th>
                        <td>610,17TL</td>
                    </tr>
                    <tr>
                        <th>Tevkifata Tabi İşlem Tutarı</th>
                        <td>6.779,66TL</td>
                    </tr>
                    <tr>
                        <th>Tevkifata Tabi İşlem Üzerinden Hes. KDV</th>
                        <td>1.220,34TL</td>
                    </tr>
                    <tr>
                        <th>Ödenecek Tutar</th>
                        <td>7.389,83TL</td>
                    </tr>
                </table>
            </div>
            <footer class="footer">
                <div class="upper-foot-note">
                    <p> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tevkifat Sebebi: </strong> 605-ORGANİZASYON HİZMETI
                        <br>yazıilefiyattutarı
                    </p>
                </div>
                <div class="overlap-3">
                    <div class="lower-foot-note">
                        <p><strong>IBAN:</strong> TR000000000000000
                            <strong>Banka:</strong> Cepbank
                            <strong>Döviz Türü:</strong> TL
                            <strong>Açıklama: </strong> genel kasa
                        </p>
                    </div>
                    <div class="aciklama">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices purus id ipsum
                            tincidunt dignissim. Praesent dignissim massa quis pulvinar venenatis. Sed bibendum, risus
                            in varius sagittis, mauris ex vestibulum ex,</p>
                    </div>
                </div>
            </footer>
        </div>
        

    </div>
</div>